# ---- Python / FastAPI
backend/.venv/
backend/__pycache__/
backend/.pytest_cache/
backend/*.sqlite3
backend/.coverage
backend/coverage.xml

# Logs
*.log
backend/logs/
frontend/npm-debug.log*

# ---- Node / Vite
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.parcel-cache/
frontend/.cache/

# Ambientes / segredos
*.env
*.env.*.local
frontend/.env*
backend/.env*

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
*.pyc
